body{
    background-color: #eaf6f6;
    
}  
hr{
    color: grey;
    border-style: none;
    height: 2px;
    border-top: 6px dotted;
    width: 60%;
    border
}

h1 , h3{
    color: #66bfbf;
}

h1{
    text-shadow: 2px 2px 2px  grey;
}


a:visited{
    color: purple;
}
a:hover{
    color: red;
}
a{
    text-decoration: none;
    color: #66bfbf;
}
